{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static 'auth0login/groups.css'">
		<title></title>
	</head>

	<body>
    <div class="row">
    <div class="col-lg-3">
    <div class="list">


      <div class="menu mt-5">
      <ul class="list-unstyled mt-5 mx-3 text-center">
         <li><a href="#"><i class="fa fa-leanpub" aria-hidden="true"></i></a>Courses</li>
        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i></a>Friends</li>
        <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>Mentors</li>
        <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>Chats</li>
        <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i></a>Settings</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-9">
  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent mt-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

   <div class="main">
  
  <!-- Actual search box -->
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
    
 </div>
  <a class="navbar-brand" href="#">
        <img src="static 'Rectangle_2182.jpg'" width="70" height="70">
  </a>
</div>
</nav>

  <h2> All Groups </h2>
  <div class="course">
    <a style="color:#1A225A;" href="#">Popular</a>
    <a href="#">Favourite</a>
    <a href="#">Recent</a>
  </div>

  <div class="poster">

    <img src="static 'img/whole.PNG'">

  </div>
  <h3>Progress</h3>
  <h4> All started courses</h4>

  <div class="progress">  
  
  <img src="static 'auth0login/img/Group 10015.png'">
  </div>

  

</div>





	 <!-- script area  -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- script area end -->

  </body>
</html>